<a href="https://colab.research.google.com/github/OHTORO87/ai_class/blob/main/colab_d13_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

#함수 설명해주는 ''', '''!

In [ ]:
def Disp(name='손흥민', age=30):
    '''
    Disp함수는 이름과 나이를 출력합니다
    '''
    print(name, age)

In [ ]:
Disp()

손흥민 30

In [ ]:
Disp('오우석',35)

오우석 35

# 함수 설명 보기

In [ ]:
Disp?

# ?? 두개면 함수 구조를 다 볼수있음

In [ ]:
Disp??

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
n1 = np.arange(1, 11, 2)

In [ ]:
type(n1)

numpy.ndarray

In [ ]:
n1.argmax()

4

In [ ]:
n1.argmax?

In [ ]:
n1.argmax??

In [ ]:
n1.max()

9

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
a

[1, 2, 3, 4, 5]

In [ ]:
a1, a2,a3,a4,a5 = a

In [ ]:
a2

2

In [ ]:
a1, a2, *a3 = a

In [ ]:
a1

1

In [ ]:
a2

2

In [ ]:
a3

[3, 4, 5]

In [ ]:
d1 = {'name':'만수', 'age':25, 'job':'흰손'}
# dict 자료형

In [ ]:
d100 = pd.DataFrame(d1, index=[1,2])

In [ ]:
d100

  name  age job
1   만수   25  흰손
2   만수   25  흰손

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#책 예제 푸는것

239p

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/pydata-book2/examples/ex1.csv')

In [ ]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
import sys
df.to_csv(sys.stdout)

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [ ]:
!pwd

/content

In [ ]:
df.to_csv('myout.csv')

In [ ]:
!ls

drive  myout.csv  sample_data

#파일을 편집한뒤
#이렇게 만들고 파일을 다운받거나
#구글 드라이브에 끌어다 저장가능하다

In [ ]:
!cat -n myout.csv

     1	,a,b,c,d,message
     2	0,1,2,3,4,hello
     3	1,5,6,7,8,world
     4	2,9,10,11,12,foo

In [38]:
import pandas as pd
import numpy as np

In [45]:
d1 = pd.DataFrame( {'name':['이순신', '황진이', '신돌석','강감찬'],
                   'job' : ['공무원', '가수', '골목대장', '공무원']})

d2 = pd.DataFrame( {'p_name':['이순신', '황진이', '신돌석','강감찬'],
                   'project' : ['A', 'A', 'B', 'C']})

In [46]:
d1

  name   job
0  이순신   공무원
1  황진이    가수
2  신돌석  골목대장
3  강감찬   공무원

In [47]:
d2

  p_name project
0    이순신       A
1    황진이       A
2    신돌석       B
3    강감찬       C

In [51]:
pd.merge(d1, d2, how='outer', left_on='name', right_on ='p_name').drop('name', axis=1)

    job p_name project
0   공무원    이순신       A
1    가수    황진이       A
2  골목대장    신돌석       B
3   공무원    강감찬       C